---
import '../styles/global.css';

const date = new Date();
const hours = date.getHours();
const minutes = date.getMinutes();

const formattedHours = hours % 12;
const formattedMinutes = minutes < 10 ? `0${minutes}` : minutes.toString();

const calculateTimeSuffix = () => {
  if (hours >= 5 && hours < 12) {
    return 'morning';
  } else if (hours >= 12 && hours < 17) {
    return 'afternoon';
  } else if (hours >= 17 && hours < 21) {
    return 'evening';
  } else {
    return 'night';
  }
};

const timeSuffix = calculateTimeSuffix();
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <img
      src='https://images.unsplash.com/photo-1488489153583-89ce18dd4968'
      class='splash-image'
    />
    <div class='text-block'>
      <h3 class='title'>{formattedHours}:{formattedMinutes}</h3>
      <p class='subtitle'>Good {timeSuffix}</p>
    </div>
  </body>
</html>

<style>
  * {
  }

  .text-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
  }

  .title {
    color: white;
    font-size: 160px;
  }

  .subtitle {
    color: white;
    font-size: 36px;
    text-align: center;
    font-weight: 500;
  }

  .splash-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Ensure it covers the viewport width */
    height: 100vh;
    object-fit: cover;
  }
</style>
